/* ---------- BODY ---------- */
body {
    font-family: 'Inter', sans-serif;
    background-color: #1d1d1d;
    background-image:
        linear-gradient(0deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 25px 25px;
    color: #fff;
    box-sizing: border-box;
    max-width: 100%;
}

.html{
    overflow-x: hidden; 
}

html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


/* ---------- HEADER ---------- */
.header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background: #1d1d1d;
    width: 100%;
    height: 55px;
    border-bottom: 2px solid #0cc0df;
    font-weight: 400;
    font-size: 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 15px 15px #0cbfdf23;
    padding: 0 60px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.logo {
    font-size: 18px;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
}

.menu__list {
    display: flex;
    gap: 20px;
}

.menu__item {
    margin: 0 10px;
    transition: all 0.5s ease;
}

.menu__item:hover{
    color: #e9e9e9;

}

.menu__item--mobile {
    display: none; 
}

.header__logo{
    display: flex;
    align-items: center;
}



.logo-png{
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* ---------- MAIN ---------- */

.header-section {
    padding-top: 55px;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     

  
}



.header-section__photo{
    width: 400px;
    height: 400px;
}

.header-section__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    padding: 0 20px;
    font-family: "Unbounded", sans-serif;
    letter-spacing: 0.6;
    line-height: 1.2;
    
}

.btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    font-size: 17px;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
}
.header-section__btn,
.header-section__btn2 {
    padding: 10px 25px; 
    min-width: auto;    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-section__btn {
    border: 1px solid #fff;
    color: #fff;
    transition: all 1s ease;
    border-radius: 8px;
}

.header-section__btn2 {
    background: #fff;
    color: #000;
    border: 1px solid #fff;
    transition: all 1s ease;
    border-radius: 8px;
}

.header-section__btn:hover {
    background: #fff;
    color: #000;
    box-shadow: 0 0 10px #ffffff62;
}



.header-section__btn2:hover {
    background: none;
    color: #fff;
    box-shadow: 0 0 10px #ffffff62;
}


.down-png{
    display: flex;
    justify-content: center;
}

.down-arrow{
    width: 40px;
    height: 40px;
    
    margin-top: 70px;
}

/* ---------- ПІДХІД ---------- */

.section-pidhid {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 60vh; 
    font-size: 24px;
    padding: 5rem 30px;
    
}

.section-pidhid__title {
    font-size: 30px;
    font-weight: 500;
    font-family: "Unbounded", sans-serif;
    text-align: left;
    margin-bottom: 50px;
}

.section-pidhid__blocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.color-blue{
    color: #0cc0df;
}

/*

.pidhid-blocks__item {
    border: 1px solid #a6a6a6;
    padding: 20px 30px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    
}
*/

.pidhid-blocks__item {
    padding: 20px 30px;
    position: relative;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;

    background-color: rgba(255, 255, 255, 0.027);
    backdrop-filter: blur(1px);
    
    border-radius: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 3px 3px 3px rgba(0,0,0, 0.025);
}

.pidhid-h2 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 25px;
    
}

.pidhid-p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #a6a6a6;
    line-height: 1.2;

}

.section-blocks__number {
    position: absolute;
    top: -17px;
    left: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 800;
    color: #0cc0df;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background: #1d1d1d;
    font-family: "Unbounded", sans-serif;
}


/*-----------Цифри---------*/

.section-zifri {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #ffffff;
    padding: 5rem 30px;
    min-height: 61vh;  
    font-size: 24px;
    background-color: #1d1d1d; /* базовий колір */
    font-weight: 800;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}

.section-zifri__content{
    width: 290px;
    display: grid;
}

.section-zifri__title {
    font-size: 30px;
    font-weight: 500;
    font-family: "Unbounded", sans-serif;
    text-align: left;
    margin-bottom: 50px;
}

.section-zifri__blocks{display: none;}

.section-zifri__blocks1 {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    align-items: center;
    justify-content: left;
    font-family: "Montserrat", sans-serif;
}

.section-zifri__blocks2 {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    align-items: center;
    justify-content: left;
    font-family: "Montserrat", sans-serif;
}

.statistic-text{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.zifri-blocks__item {
    text-align: center;
    border: 1px solid #a6a6a6;   
    border-radius: 8px;
}

.zifri-blocks__item1 {
    text-align: center;
    border: 1px solid #a6a6a6;   
    border-radius: 8px;
}

.block1{
    padding: 20px;
    height: 80px;
    width: 140px;
}

.block2{
    margin-top: 20px;
    height: 100px;
    padding: 20px;
}

.block3{
    
    height: 100px;
    width: 140px;
    padding: 20px;
    margin-bottom: 10px;
}

.block4{
    height: 80px;
    margin-top: 10px;
    width: 160px;
    padding: 20px;
}



.zifri-blocks__text{
    font-size: 19px;
    color: #fff;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.animate{
    transform: translateX(-100px); /* старт з правого боку */
    transition: transform 1s ease-out;
    opacity: 0;
}

.animate.visible{
  opacity: 1;
  transform: translateX(0);
}

.section-zifri__number{
    color: #0cc0df;
    font-family: "Unbounded", sans-serif;
    margin-bottom: 5px;
}

.section-zifri__blocks{
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.zifri-footer__text, .zifri-footer__number{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.block5, .block6, .block7, .block8, .block9{
    margin-bottom: 15px;
    padding: 10px;
    display: none;
}



/*            MAIN BLOCKS         */





.section-zifri__content1{
    display: flex;
    gap: 100px;
    
}

.section-zifri__title1{
    font-size: 30px;
    font-weight: 500;
    font-family: "Unbounded", sans-serif;
    text-align: left;
    
}

.zifri__list{
    padding: 0;
    margin: 0;
    margin-left: 40px;
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.zifri__list-item{
    margin-top: 25px;
    color: #a6a6a6;
}

.zifri__list-item:first-child{
    margin-top: 50px;
}

.zifri__list-item:last-child{
    margin-top: 60px;
}

.zifri__icon{
    color: #0cc0df;
}

.zifri-blocks{
    display: flex;
    flex-wrap: wrap;
    width: 290px;
    color: #b8b8b8;
    
}

.section-zifri__number1{
    color: #0cc0df;
    font-family: "Unbounded", sans-serif;
    margin-bottom: 5px;
    font-weight: 800;
}

.item1{
    width: 140px;
    height: 80px;
    margin-top: 20px;
    line-height: 1;
    padding: 20px;
    
}

.item2{
    height: 100px;
    width: 140px;
    padding: 22px;
    
}

.item3{
    width: 290px;
    height: 80px;
    padding: 20px;
}

.item4{
    width: 140px;
    height: 100px;
    padding: 22px;
}

.item5{
    width: 140px;
    height: 80px;
    padding: 20px;
    
    
}

.only2{
    display: flex;
    flex: 1 1 calc(50% - 10px);
    height: 100px;
    gap: 10px;
    line-height: 1;
    
}

.only1{
    display: flex;
    flex: 1 1 100%;
    height: 80px;
    margin: 10px 0;
    line-height: 1;
    
}

.only1:last-child{
    margin-top: 20px;
}

.section-zifri__text{
    font-size: 16px;
    color: #a6a6a6;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
}

.section-zifri__content{
    display: none;
}


.statistic-text{
    margin: 10px 0;
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-weight: 600;
}

/*       FOOOOOOOOOTER       */

.section-footer{
    padding: 64px;
    margin: 0 auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.container{
    font-size: 16px;
    font-weight: 600;
    
}

.section-footer__text{
    font-size: 13px;
    color: #a6a6a6;
    letter-spacing: 1px;
    margin-top: 10px;
    
}

.section-zifri__statistic{
    margin-bottom: 20px;
}


.facelesscode{
    margin-top: 10px;
    color: #a6a6a6;
    font-size: 13px;
}


/* ---------- АДАПТИВНІ МЕДІА-ЗАПИТИ ---------- */
@media screen and (max-width: 1024px) {
    .menu__list {
        gap: 15px;
    }

    .header-section__photo{
        width: 370px;
        height: 370px;
    }

    .header-section__title {
        font-size: 32px;
    }

    .header-section__btn,
    .header-section__btn2 {
        font-size: 16px;
        padding: 12px 12px;
    }

    .pidhid-blocks__item {
        padding: 15px 20px;
    }

    .section-blocks__number {
        top: -18px;
        left: 15px;
        height: 50px;
        width: 50px;
        font-size: 24px;
    }
}

@media screen and (max-width: 800px) {
    .header {
        flex-direction:row;
        height: auto;
        justify-content: space-between;
        align-items: center; /* вертикальне вирівнювання */
        height: 50px; /* фіксована висота */
        
    }


    .menu__list {
        flex-wrap: wrap;
        justify-content: center;
        
        align-items: center;
    }

    .menu__item {
        display: none; /* сховали всі */
    }

    .menu__item--mobile {
        display: block; /* показали тільки мобільну кнопку */
    }



    
    .header-section__title {
        font-size: 28px;
    }

    .section-pidhid__blocks {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    

    .pidhid-blocks__item {
        padding: 12px 15px;
    }

    .section-blocks__number {
        top: -16px;
        left: 10px;
        height: 40px;
        width: 40px;
        font-size: 24px;
    }


    .section-zifri__content1{
    gap: 50px;
    
}

    .zifri__list{
    font-size: 24px;
    
    }

}

@media screen and (max-width: 710px) {
    .section-zifri__content1{
        display: none;
    }

    .section-zifri__content{
        display: grid;
    }

    .only1{
    margin: 0 0;
    
    }
    
}


@media screen and (max-width: 520px) {
    .header-section__title{
        font-size: 26px;
    }

    .section-zifri__statistic {
        margin-bottom: 5px;
    }

    

    
}

@media screen and (max-width: 480px) {
    .header-section__title {
        font-size: 24px;
    }

    .header-section__btn,
    .header-section__btn2 {
        font-size: 14px;
        padding: 10px 10px;
    }

    .pidhid-blocks__item {
        padding: 20px 20px;
    }

    .section-blocks__number {
        top: -12px;
        left: 10px;
        height: 40px;
        width: 40px;
        font-size: 24px;
        font-weight: 800;
    }

    .section-pidhid {
        padding: 5rem 20px;
    }

    .header{
        padding: 0 20px;
    }

  
    .header-section__photo{
        width: 340px;
        height: 340px;
    }

}

@media screen and (max-width: 390px){


    .header-section__photo{
        width: 290px;
        height: 290px;
    }
    
}

@media screen and (max-width: 310px) {
    .section-zifri__blocks {
        display: grid;
        gap: 10px;
    }

    .block5, .block6, .block7, .block8, .block9 {
        display: block; /* або flex, якщо хочеш */
    }
    
    .section-zifri__content{
        display: none;
    }


    .header-section__photo{
        width: 240px;
        height: 240px;
    }

    .btn{
        flex-direction: column;
        
    }
}



@media screen and (max-width: 260px) {
    .logo{
        display: none;
    }

    .btn{
        flex-direction: column;
        
    }
    .header-section__photo{
        width: 200px;
        height: 200px;
    }
    

}